.favoritos{
    color: white; font-family: 'Rajdhani', sans-serif; font-size: 25px; font-style: italic; margin-left: 30px; text-align: center;
}
.subsfav{
    color: white; font-family: 'Rajdhani', sans-serif; font-size: 15px; font-style: italic; margin-left: 30px; text-align: center;
}
.cajas{
    display: flex;
}
body{
    background-color:black
}
.logo{
    color: white; font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 40px;
    text-decoration: none;
}
.logo .box{
        justify-content: center;
        
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 90%;
    margin: auto;
}
header{
    padding: 30px 0;
}
header nav a{
    color: #aaa;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav a:hover,
header nav a.activo {
    color: #fff;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-text{
    color: white;
}


#search-button{
    background-color: #aaa;
    width: 60px;
    height: 44px;
    border-radius: 260px;
}

#search-form input{
    color: white; width: 450px; height: 40px; background-color: #aaa; border-radius: 250px;
}

.peliculas-mas-valoradas{
    color: white; font-family: 'Rajdhani', sans-serif; font-size: 25px; font-style: italic; margin-left: 10px;
}

.a{
    margin: 20px;
    border: solid 5px white;
    height: 350px;
     width: 230px;
}
.a:hover{
    transform: scale(1.1);
}
.item-1{
    display: flex; justify-content: space-between; 
}


.titulo{
    color: rgb(255, 255, 255); font-family: 'Quicksand', sans-serif ; font-size: 10px;
    display: flex; justify-content: space-between; margin-left: 30px; margin-right: 75px;

}
.series-mas-valoradas{
    color: white; font-family: 'Rajdhani', sans-serif; font-size: 25px; font-style: italic; margin-left: 10px;
}

.series-mas-populares{
    color: white; font-family: 'Rajdhani', sans-serif; font-size: 25px; font-style: italic; margin-left: 10px;
}

.pelicula-principal{
font-size: 18px;
min-height: 500px;
color: white;

background: url(./img/peli-principal.jpg.jpeg); 
background-position: center center;
background-size: cover;
margin-bottom: 50px;
display: flex;
align-items: end;

}
.pelicula-principal .cont{
    margin: 0 auto;
    margin-bottom: 100px;
}

.pelicula-principal .tit{
    font-weight: 1000;
    font-size: 45px;
    margin-bottom: 20px;
    font-family: 'Rajdhani', sans-serif; font-size: 55px;
}

.pelicula-principal .descrip{
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    max-width: 100%;
    margin-bottom: 20px;
}


.footer{
    text-align: center;
     color: white; font-family: 'Rajdhani', sans-serif; font-size: 10px; font-style: italic;
 }

 @media (max-width: 1024px){
    .cajas{
        flex-wrap: wrap;
    }
 }

@media (max-width: 650px){
    
}
 