body{
    background-color:black
}
.logo{
    float: right; justify-content: flex-start;
}
.peliculas-mas-valoradas{
    color: white; font-family: 'Courier New', Courier, monospace; 
}

.a{

    border: solid 5px white;
}
.item-1{
    display: flex; justify-content: space-between; 
}

.series-mas-valoradas{
    color: white; font-family: 'Courier New', Courier, monospace; }
.item-2{
    display: flex; justify-content: space-between; 
}

.series-mas-populares{
    color: white; font-family: 'Courier New', Courier, monospace;
}

.item-3{
    display: flex; justify-content: space-between; 
}